{% extends 'base.html' %}

{% block title %}DBMS Lab Project{% endblock %}

{% block content %}
<h1 class="text-4xl font-semibold mb-5 text-center">DBMS Lab Project</h1>

<div class="flex flex-col items-center justify-center">
    <h2 class="text-3xl font-semibold mb-3">Group 1</h2>
    <div class="p-12 rounded-lg w-full md:w-1/2">
        <ul class="text-xl justify-center text-center">
            <li class="mb-3">Harsheen Kaur - Roll No. 102303107</li>
            <li class="mb-3">Parth Bhatia- Roll No. 102303106</li>
            <li class="mb-3">Asmita Roy - Roll No. 102303115</li>
            <li class="mb-3">Rohit - Roll No. 102303110</li>
        </ul>
    </div>
</div>
{% endblock %}
